<phpunit
    bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>integration</directory>
        </testsuite>
    </testsuites>
    <coverage
        processUncoveredFiles="true"
        includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory suffix=".php">../vendor</directory>
            <directory suffix=".php">unit</directory>
            <directory suffix=".php">integration</directory>
        </exclude>
    </coverage>
</phpunit>
